In [216]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
from tabulate import tabulate

In [107]:
def hollys_list(start_idx):
    temp_list = []
    for i in range(1, 51):
        url = f'https://www.hollys.co.kr/store/korea/korStore2.do?pageNo={i}&sido=&gugun=&store='
        html = urlopen(url)
        soup = BeautifulSoup(html, 'html.parser')
        for j in range(start_idx, len(soup.find_all('td', {'class' : 'center_t'})), 6):
            temp_list.append(soup.find_all('td', {'class' : 'center_t'})[j].string)
    return temp_list

In [108]:
location = hollys_list(0)
cafe_name = hollys_list(1)
address = hollys_list(3)
number = hollys_list(5)

In [112]:
df = pd.DataFrame({'매장이름' : cafe_name,
                   '지역' : location,
                   '주소' : address,
                   '전화번호' : number})
df.to_csv('hollys_branches.csv', index = False)

In [113]:
df = pd.read_csv('hollys_branches.csv', encoding = 'utf-8-sig')
df

,매장이름,지역,주소,전화번호
0,분당미금점2,경기 성남시 분당구,"경기도 성남시 분당구 미금일로90번길 24 (구미동) 구미동 35-3, B1F~1F",031-713-7739
1,인천굴포천역점,인천 부평구,"인천광역시 부평구 충선로209번길 49 (삼산동, 삼산노블시티프라자) 삼산동 463...",070-4400-4664
2,대구팔달교DT점,대구 서구,대구광역시 서구 팔달로 34,053-354-1212
3,인천공항교통센터점,인천 중구,"인천광역시 중구 공항로 272 (운서동, 인천공항) 인천국제공항 제1여객터미널 지하...",032-743-3718
4,한국선원센터점,부산 중구,"부산광역시 중구 충장대로9번길 66 (중앙동4가, 한국선원센터) (중앙동4가 74-...",070-4070-7506
...,...,...,...,...
490,합정역점,서울 마포구,서울특별시 마포구 양화로 36 (합정동 374-1) 할리스,02-6204-1234
491,부산달맞이점,부산 해운대구,"부산광역시 해운대구 달맞이길 199, 2~3층 (중동 1488-14) 할리스",051-731-3410
492,신림점,서울 관악구,서울특별시 관악구 신림로 353-1,02-877-0019
493,태평로점,서울 중구,"서울특별시 중구 세종대로 64, 해남빌딩 1층 (태평로2가 70-5) 할리스",02-755-7795
494,신촌점,서울 서대문구,서울특별시 서대문구 연세로 34 (창천동 31-12) 할리스,02-393-2004

In [222]:
string = input('검색할 매장의 지역을 입력하세요: ')
split_list = string.split()
split_list

boolean_list = []
for i in df['주소']:
    for j in split_list:
        if (j in i) == True:
            boolean_list.append(True)
        else:
            boolean_list.append(False)

location_list = []
for i in range(0, len(boolean_list), len(split_list)):
    if sum(boolean_list[i:i+len(split_list)]) == len(split_list):
        location_list.append(int(i/len(split_list)))
location_list

select_df = df.iloc[location_list,:]
select_df.reset_index(inplace=True)
select_df.index = select_df.index + 1
final_df = select_df[['매장이름', '주소', '전화번호']]
print(f'검색된 매장 수: {}')
print(tabulate(final_df, headers = 'keys', tablefmt='pretty'))

+----+--------------------+------------------------------------------------------------------------------+--------------+
|    |      매장이름      |                                     주소                                     |   전화번호   |
+----+--------------------+------------------------------------------------------------------------------+--------------+
| 1  |  강남우리라운지점  |          서울특별시 강남구 테헤란로 301 역삼동 701-02 삼정빌딩 1층           | 02-566-1002  |
| 2  |     강남역2점      |        서울특별시 강남구 강남대로 422 (역삼동) 역삼동816,816-7,816-8         | 02-568-9056  |
| 3  |    청담삼성로점    |   서울특별시 강남구 삼성로119길 8 (삼성동, 강남대학교청담카이로스빌딩) 1층   | 02-541-7755  |
| 4  |   강남대로논현점   |       서울특별시 강남구 강남대로 520 (논현동, 영동빌딩) 논현동 164번지       | 02-6012-2372 |
| 5  |      코엑스점      | 서울특별시 강남구 영동대로 513, 코엑스 지하 1층  C113호 (삼성동 159)  할리스 | 02-6002-3100 |
| 6  | 카페테리아&삼성점  |        서울시 강남구 삼성로 512, 10층 인터파크 카페테리아 (삼성동) .         |  2188-7100   |
| 7  |   선릉샹제리제점   |        서울특별시 강남구 테헤란로 406 (대치동, 샹제리제센터) A동 1층         | 02-501-4255  |
| 8  |       수서점       |      서울특별시 강남구 밤고개로1길 10 (수서동, 수서현대벤쳐빌) 지하1층       | 02-451-0723  |
| 9  | 고속터미널영동선점 |    서울특별시 서초구 신반포로 194 (반포동, 강남고속버스터미널) 2층 A-2호     | 02-591-1555  |
| 10 |      한티역점      |              서울특별시 강남구 도곡로 414 (대치동, 삼성빌딩) .               | 02-538-8886  |
| 11 |     도심공항점     | 서울특별시 강남구 테헤란로87길 22 (삼성동, 한국도심공항터미널, 2층)   203호  | 02-2016-5400 |
| 12 |       청담점       |                  서울특별시 강남구 학동로 517 (청담동) 1층                   | 02-515-9915  |
| 13 |     역삼스타점     |        서울특별시 강남구 테헤란로26길 12, 1층 (역삼동 736-56) 할리스         | 02-501-4142  |
| 14 |     세로수길점     |           서울특별시 강남구 강남대로152길 41 (신사동 536-6) 할리스           | 02-511-1473  |
| 15 |       도곡점       |     서울특별시 강남구 논현로28길 54, 덕원빌딩 1층 (도곡동 422-2) 할리스      | 02-6204-3311 |
| 16 |      강남역점      |  서울특별시 강남구 강남대로 402, 시계탑빌딩 B1~1층 (역삼동 820-11)  할리스   | 02-555-0890  |
+----+--------------------+------------------------------------------------------------------------------+--------------+